{% extends "base.html" %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="jumbotron">
      <h1 class="text-center text-primary">毕业设计: 数字取证&签名&认证</h1><br />
      <h2 class="text-center"><span class="label label-primary">软联1301班：高凯旭</span></h2><br>
      <table class="table table-bordered text-center">
        <thead>
          <tr class="text-center">
            <th class="text-center">学号</th>
            <th class="text-center">姓名</th>
            <th class="text-center">班级</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><b><code>201331107007</code></b></td>
            <td><code>高凯旭</code></td>
            <td><code>软件工程联合培养1301</code></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
{% end %}
